@font-face {
  font-family: 'harmony_icon';
  src: url('../../Font-Icons/Font/harmony_icon.eot?81099844');
  src: url('../../Font-Icons/Font/harmony_icon.eot?81099844#iefix')
      format('embedded-opentype'),
    url('../../Font-Icons/Font/harmony_icon.woff2?81099844') format('woff2'),
    url('../../Font-Icons/Font/harmony_icon.woff?81099844') format('woff'),
    url('../../Font-Icons/Font/harmony_icon.ttf?81099844') format('truetype'),
    url('../../Font-Icons/Font/harmony_icon.svg?81099844#harmony_icon')
      format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'harmony_icon';
    src: url('../font/harmony_icon.svg?55856861#harmony_icon') format('svg');
  }
}
*/

i.harmony-icon {
  font-family: 'harmony_icon' !important;
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-flex;
  text-decoration: inherit;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.harmony-icon-heart:before { content: '\e800'; } /* '' */
.harmony-icon-heart-empty:before { content: '\e801'; } /* '' */
.harmony-icon-star:before { content: '\e802'; } /* '' */
.harmony-icon-star-empty:before { content: '\e803'; } /* '' */
.harmony-icon-star-half:before { content: '\e804'; } /* '' */
.harmony-icon-mail:before { content: '\e805'; } /* '' */
.harmony-icon-search:before { content: '\e806'; } /* '' */
.harmony-icon-videocam:before { content: '\e807'; } /* '' */
.harmony-icon-picture:before { content: '\e808'; } /* '' */
.harmony-icon-camera:before { content: '\e809'; } /* '' */
.harmony-icon-clipboard:before { content: '\e80a'; } /* '' */
.harmony-icon-basket-1:before { content: '\e80b'; } /* '' */
.harmony-icon-shop:before { content: '\e80c'; } /* '' */
.harmony-icon-ok:before { content: '\e80d'; } /* '' */
.harmony-icon-ok-circled2:before { content: '\e80e'; } /* '' */
.harmony-icon-ok-circled:before { content: '\e80f'; } /* '' */
.harmony-icon-cancel:before { content: '\e810'; } /* '' */
.harmony-icon-cancel-circled:before { content: '\e811'; } /* '' */
.harmony-icon-cancel-circled-outline:before { content: '\e812'; } /* '' */
.harmony-icon-plus:before { content: '\e813'; } /* '' */
.harmony-icon-plus-circled:before { content: '\e814'; } /* '' */
.harmony-icon-minus:before { content: '\e815'; } /* '' */
.harmony-icon-minus-circled:before { content: '\e816'; } /* '' */
.harmony-icon-palette:before { content: '\e817'; } /* '' */
.harmony-icon-home:before { content: '\e818'; } /* '' */
.harmony-icon-link:before { content: '\e819'; } /* '' */
.harmony-icon-logout:before { content: '\e81a'; } /* '' */
.harmony-icon-alert:before { content: '\e81b'; } /* '' */
.harmony-icon-scissors:before { content: '\e81c'; } /* '' */
.harmony-icon-back-in-time:before { content: '\e81d'; } /* '' */
.harmony-icon-tag:before { content: '\e81e'; } /* '' */
.harmony-icon-bookmark:before { content: '\e81f'; } /* '' */
.harmony-icon-bell:before { content: '\e820'; } /* '' */
.harmony-icon-chat:before { content: '\e821'; } /* '' */
.harmony-icon-comment:before { content: '\e822'; } /* '' */
.harmony-icon-print:before { content: '\e823'; } /* '' */
.harmony-icon-edit:before { content: '\e824'; } /* '' */
.harmony-icon-sun-filled:before { content: '\e825'; } /* '' */
.harmony-icon-export:before { content: '\e826'; } /* '' */
.harmony-icon-forward:before { content: '\e827'; } /* '' */
.harmony-icon-thumbs-down:before { content: '\e828'; } /* '' */
.harmony-icon-thumbs-up:before { content: '\e829'; } /* '' */
.harmony-icon-attention-circled:before { content: '\e82a'; } /* '' */
.harmony-icon-attention:before { content: '\e82b'; } /* '' */
.harmony-icon-location:before { content: '\e82c'; } /* '' */
.harmony-icon-trash-empty:before { content: '\e82d'; } /* '' */
.harmony-icon-doc:before { content: '\e82e'; } /* '' */
.harmony-icon-folder:before { content: '\e82f'; } /* '' */
.harmony-icon-folder-open:before { content: '\e830'; } /* '' */
.harmony-icon-zoom-out:before { content: '\e831'; } /* '' */
.harmony-icon-zoom-in:before { content: '\e832'; } /* '' */
.harmony-icon-resize-horizontal:before { content: '\e833'; } /* '' */
.harmony-icon-resize-vertical:before { content: '\e834'; } /* '' */
.harmony-icon-resize-small:before { content: '\e835'; } /* '' */
.harmony-icon-resize-full:before { content: '\e836'; } /* '' */
.harmony-icon-volume-up:before { content: '\e837'; } /* '' */
.harmony-icon-volume-down:before { content: '\e838'; } /* '' */
.harmony-icon-volume-off:before { content: '\e839'; } /* '' */
.harmony-icon-login:before { content: '\e83a'; } /* '' */
.harmony-icon-calendar:before { content: '\e83b'; } /* '' */
.harmony-icon-basket:before { content: '\e83c'; } /* '' */
.harmony-icon-wrench:before { content: '\e83d'; } /* '' */
.harmony-icon-cog-alt:before { content: '\e83e'; } /* '' */
.harmony-icon-cog:before { content: '\e83f'; } /* '' */
.harmony-icon-phone:before { content: '\e840'; } /* '' */
.harmony-icon-down-dir:before { content: '\e841'; } /* '' */
.harmony-icon-up-dir:before { content: '\e842'; } /* '' */
.harmony-icon-left-dir:before { content: '\e843'; } /* '' */
.harmony-icon-right-dir:before { content: '\e844'; } /* '' */
.harmony-icon-down-open:before { content: '\e845'; } /* '' */
.harmony-icon-left-open:before { content: '\e846'; } /* '' */
.harmony-icon-right-open:before { content: '\e847'; } /* '' */
.harmony-icon-up-open:before { content: '\e848'; } /* '' */
.harmony-icon-down-big:before { content: '\e849'; } /* '' */
.harmony-icon-left-big:before { content: '\e84a'; } /* '' */
.harmony-icon-right-big:before { content: '\e84b'; } /* '' */
.harmony-icon-up-big:before { content: '\e84c'; } /* '' */
.harmony-icon-play-circled:before { content: '\e84d'; } /* '' */
.harmony-icon-bag:before { content: '\e84e'; } /* '' */
.harmony-icon-cancel-1:before { content: '\e84f'; } /* '' */
.harmony-icon-chat-1:before { content: '\e850'; } /* '' */
.harmony-icon-comment-1:before { content: '\e851'; } /* '' */
.harmony-icon-user:before { content: '\e852'; } /* '' */
.harmony-icon-th-large-1:before { content: '\e853'; } /* '' */
.harmony-icon-play:before { content: '\e854'; } /* '' */
.harmony-icon-play-outline:before { content: '\e855'; } /* '' */
.harmony-icon-play-circled2:before { content: '\e856'; } /* '' */
.harmony-icon-play-1:before { content: '\e857'; } /* '' */
.harmony-icon-shuffle:before { content: '\e858'; } /* '' */
.harmony-icon-loop-alt:before { content: '\e859'; } /* '' */
.harmony-icon-ccw:before { content: '\e85a'; } /* '' */
.harmony-icon-cw:before { content: '\e85b'; } /* '' */
.harmony-icon-down-hand:before { content: '\e85c'; } /* '' */
.harmony-icon-up-hand:before { content: '\e85d'; } /* '' */
.harmony-icon-left-hand:before { content: '\e85e'; } /* '' */
.harmony-icon-right-hand:before { content: '\e85f'; } /* '' */
.harmony-icon-signal:before { content: '\e860'; } /* '' */
.harmony-icon-inbox:before { content: '\e861'; } /* '' */
.harmony-icon-check:before { content: '\e862'; } /* '' */
.harmony-icon-off:before { content: '\e863'; } /* '' */
.harmony-icon-briefcase:before { content: '\e864'; } /* '' */
.harmony-icon-align-justify:before { content: '\e865'; } /* '' */
.harmony-icon-cancel-outline:before { content: '\e866'; } /* '' */
.harmony-icon-chart-bar:before { content: '\e867'; } /* '' */
.harmony-icon-credit-card:before { content: '\e868'; } /* '' */
.harmony-icon-floppy:before { content: '\e869'; } /* '' */
.harmony-icon-megaphone:before { content: '\e86a'; } /* '' */
.harmony-icon-truck:before { content: '\e86b'; } /* '' */
.harmony-icon-hammer:before { content: '\e86c'; } /* '' */
.harmony-icon-users:before { content: '\e86d'; } /* '' */
.harmony-icon-user-add:before { content: '\e86e'; } /* '' */
.harmony-icon-picture-2:before { content: '\e86f'; } /* '' */
.harmony-icon-floppy-1:before { content: '\e870'; } /* '' */
.harmony-icon-cancel-squared:before { content: '\e871'; } /* '' */
.harmony-icon-plus-1:before { content: '\e872'; } /* '' */
.harmony-icon-minus-1:before { content: '\e873'; } /* '' */
.harmony-icon-plus-squared-1:before { content: '\e874'; } /* '' */
.harmony-icon-plus-circled-1:before { content: '\e875'; } /* '' */
.harmony-icon-sun-1:before { content: '\e876'; } /* '' */
.harmony-icon-left-open-mini:before { content: '\e877'; } /* '' */
.harmony-icon-right-open-mini:before { content: '\e878'; } /* '' */
.harmony-icon-up-open-mini:before { content: '\e879'; } /* '' */
.harmony-icon-down-open-big:before { content: '\e87a'; } /* '' */
.harmony-icon-left-open-big:before { content: '\e87b'; } /* '' */
.harmony-icon-right-open-big:before { content: '\e87c'; } /* '' */
.harmony-icon-users-1:before { content: '\e87d'; } /* '' */
.harmony-icon-flight:before { content: '\e87e'; } /* '' */
.harmony-icon-th-list-outline:before { content: '\e87f'; } /* '' */
.harmony-icon-th-list-1:before { content: '\e880'; } /* '' */
.harmony-icon-asterisk:before { content: '\e881'; } /* '' */
.harmony-icon-info-1:before { content: '\e882'; } /* '' */
.harmony-icon-th-large-outline:before { content: '\e883'; } /* '' */
.harmony-icon-th-1:before { content: '\e884'; } /* '' */
.harmony-icon-th-outline:before { content: '\e885'; } /* '' */
.harmony-icon-ok-2:before { content: '\e886'; } /* '' */
.harmony-icon-ok-circle:before { content: '\e887'; } /* '' */
.harmony-icon-info-circled-1:before { content: '\e888'; } /* '' */
.harmony-icon-left-open-outline:before { content: '\e889'; } /* '' */
.harmony-icon-left-open-1:before { content: '\e88a'; } /* '' */
.harmony-icon-right-open-outline:before { content: '\e88b'; } /* '' */
.harmony-icon-right-open-1:before { content: '\e88c'; } /* '' */
.harmony-icon-down:before { content: '\e88d'; } /* '' */
.harmony-icon-left:before { content: '\e88e'; } /* '' */
.harmony-icon-cancel-2:before { content: '\e88f'; } /* '' */
.harmony-icon-lkdto:before { content: '\e890'; } /* '' */
.harmony-icon-menu-1:before { content: '\e891'; } /* '' */
.harmony-icon-menu-outline:before { content: '\e892'; } /* '' */
.harmony-icon-phone-1:before { content: '\e893'; } /* '' */
.harmony-icon-phone-outline:before { content: '\e894'; } /* '' */
.harmony-icon-flag:before { content: '\e895'; } /* '' */
.harmony-icon-lock:before { content: '\e896'; } /* '' */
.harmony-icon-lock-1:before { content: '\e897'; } /* '' */
.harmony-icon-mobile-1:before { content: '\e898'; } /* '' */
.harmony-icon-up-open-big:before { content: '\e899'; } /* '' */
.harmony-icon-stop-outline:before { content: '\e89a'; } /* '' */
.harmony-icon-stop:before { content: '\e89b'; } /* '' */
.harmony-icon-pause-outline:before { content: '\e89c'; } /* '' */
.harmony-icon-pause:before { content: '\e89d'; } /* '' */
.harmony-icon-fast-fw-outline:before { content: '\e89e'; } /* '' */
.harmony-icon-fast-fw:before { content: '\e89f'; } /* '' */
.harmony-icon-rewind-outline:before { content: '\e8a0'; } /* '' */
.harmony-icon-rewind:before { content: '\e8a1'; } /* '' */
.harmony-icon-record-outline:before { content: '\e8a2'; } /* '' */
.harmony-icon-record:before { content: '\e8a3'; } /* '' */
.harmony-icon-eject-alt-outline:before { content: '\e8a4'; } /* '' */
.harmony-icon-eject-alt:before { content: '\e8a5'; } /* '' */
.harmony-icon-pause-circled:before { content: '\e8a6'; } /* '' */
.harmony-icon-pause-1:before { content: '\e8a7'; } /* '' */
.harmony-icon-clock:before { content: '\e8a8'; } /* '' */
.harmony-icon-home-2:before { content: '\e8a9'; } /* '' */
.harmony-icon-home-outline:before { content: '\e8aa'; } /* '' */
.harmony-icon-wristwatch:before { content: '\e8ab'; } /* '' */
.harmony-icon-calendar-1:before { content: '\e8ac'; } /* '' */
.harmony-icon-calendar-2:before { content: '\e8ad'; } /* '' */
.harmony-icon-lock-open:before { content: '\e8ae'; } /* '' */
.harmony-icon-loop:before { content: '\e8af'; } /* '' */
.harmony-icon-attach-1:before { content: '\e8b0'; } /* '' */
.harmony-icon-arrows-cw-1:before { content: '\e8b1'; } /* '' */
.harmony-icon-eye-1:before { content: '\e8b2'; } /* '' */
.harmony-icon-print-1:before { content: '\e8b3'; } /* '' */
.harmony-icon-eye-off-1:before { content: '\e8b4'; } /* '' */
.harmony-icon-buffer:before { content: '\e8b5'; } /* '' */
.harmony-icon-paypal-1:before { content: '\e8b6'; } /* '' */
.harmony-icon-headphones:before { content: '\e8b7'; } /* '' */
.harmony-icon-bat1:before { content: '\e8b8'; } /* '' */
.harmony-icon-bat2:before { content: '\e8b9'; } /* '' */
.harmony-icon-bat3:before { content: '\e8ba'; } /* '' */
.harmony-icon-bat4:before { content: '\e8bb'; } /* '' */
.harmony-icon-bat-charge:before { content: '\e8bc'; } /* '' */
.harmony-icon-pencil:before { content: '\e8bd'; } /* '' */
.harmony-icon-pencil-1:before { content: '\e8be'; } /* '' */
.harmony-icon-key:before { content: '\e8bf'; } /* '' */
.harmony-icon-hdd-1:before { content: '\e8c0'; } /* '' */
.harmony-icon-text-height:before { content: '\e8c1'; } /* '' */
.harmony-icon-text-width:before { content: '\e8c2'; } /* '' */
.harmony-icon-align-left:before { content: '\e8c3'; } /* '' */
.harmony-icon-align-center:before { content: '\e8c4'; } /* '' */
.harmony-icon-align-right:before { content: '\e8c5'; } /* '' */
.harmony-icon-list:before { content: '\e8c6'; } /* '' */
.harmony-icon-indent-left:before { content: '\e8c7'; } /* '' */
.harmony-icon-indent-right:before { content: '\e8c8'; } /* '' */
.harmony-icon-search-1:before { content: '\e8c9'; } /* '' */
.harmony-icon-riyal:before { content: '\e8ca'; } /* '' */
.harmony-icon-toman:before { content: '\e8cb'; } /* '' */
.harmony-icon-emo-happy:before { content: '\e8cc'; } /* '' */
.harmony-icon-emo-wink:before { content: '\e8cd'; } /* '' */
.harmony-icon-emo-wink2:before { content: '\e8ce'; } /* '' */
.harmony-icon-emo-unhappy:before { content: '\e8cf'; } /* '' */
.harmony-icon-emo-sleep:before { content: '\e8d0'; } /* '' */
.harmony-icon-emo-thumbsup:before { content: '\e8d1'; } /* '' */
.harmony-icon-emo-devil:before { content: '\e8d2'; } /* '' */
.harmony-icon-emo-surprised:before { content: '\e8d3'; } /* '' */
.harmony-icon-emo-tongue:before { content: '\e8d4'; } /* '' */
.harmony-icon-emo-displeased:before { content: '\e8d5'; } /* '' */
.harmony-icon-emo-grin:before { content: '\e8d6'; } /* '' */
.harmony-icon-emo-angry:before { content: '\e8d7'; } /* '' */
.harmony-icon-emo-saint:before { content: '\e8d8'; } /* '' */
.harmony-icon-emo-squint:before { content: '\e8d9'; } /* '' */
.harmony-icon-emo-laugh:before { content: '\e8da'; } /* '' */
.harmony-icon-emo-sunglasses:before { content: '\e8db'; } /* '' */
.harmony-icon-emo-beer:before { content: '\e8dc'; } /* '' */
.harmony-icon-emo-coffee:before { content: '\e8dd'; } /* '' */
.harmony-icon-music:before { content: '\e8de'; } /* '' */
.harmony-icon-spin4:before { content: '\e8df'; } /* '' */
.harmony-icon-archive:before { content: '\e8e0'; } /* '' */
.harmony-icon-pin-outline:before { content: '\e8e1'; } /* '' */
.harmony-icon-pin:before { content: '\e8e2'; } /* '' */
.harmony-icon-reddit:before { content: '\e8e3'; } /* '' */
.harmony-icon-infinity:before { content: '\e8e4'; } /* '' */
.harmony-icon-loop-outline:before { content: '\e8e5'; } /* '' */
.harmony-icon-gauge:before { content: '\e8e6'; } /* '' */
.harmony-icon-trash-2:before { content: '\e8e7'; } /* '' */
.harmony-icon-flow-tree:before { content: '\e8e8'; } /* '' */
.harmony-icon-megaphone-1:before { content: '\e8e9'; } /* '' */
.harmony-icon-progress-1:before { content: '\e8ea'; } /* '' */
.harmony-icon-progress-2:before { content: '\e8eb'; } /* '' */
.harmony-icon-progress-3:before { content: '\e8ec'; } /* '' */
.harmony-icon-target:before { content: '\e8ed'; } /* '' */
.harmony-icon-help-circled:before { content: '\e8ee'; } /* '' */
.harmony-icon-menu-2:before { content: '\f008'; } /* '' */
.harmony-icon-th-list:before { content: '\f009'; } /* '' */
.harmony-icon-th-thumb:before { content: '\f00a'; } /* '' */
.harmony-icon-th-thumb-empty:before { content: '\f00b'; } /* '' */
.harmony-icon-download-cloud-1:before { content: '\f015'; } /* '' */
.harmony-icon-monitor:before { content: '\f032'; } /* '' */
.harmony-icon-mobile:before { content: '\f034'; } /* '' */
.harmony-icon-move:before { content: '\f047'; } /* '' */
.harmony-icon-ok-circled-1:before { content: '\f06d'; } /* '' */
.harmony-icon-link-ext:before { content: '\f08e'; } /* '' */
.harmony-icon-check-empty:before { content: '\f096'; } /* '' */
.harmony-icon-bookmark-empty:before { content: '\f097'; } /* '' */
.harmony-icon-phone-squared:before { content: '\f098'; } /* '' */
.harmony-icon-twitter:before { content: '\f099'; } /* '' */
.harmony-icon-facebook:before { content: '\f09a'; } /* '' */
.harmony-icon-github-circled:before { content: '\f09b'; } /* '' */
.harmony-icon-rss:before { content: '\f09e'; } /* '' */
.harmony-icon-hdd:before { content: '\f0a0'; } /* '' */
.harmony-icon-certificate:before { content: '\f0a3'; } /* '' */
.harmony-icon-filter:before { content: '\f0b0'; } /* '' */
.harmony-icon-resize-full-alt:before { content: '\f0b2'; } /* '' */
.harmony-icon-docs:before { content: '\f0c5'; } /* '' */
.harmony-icon-list-bullet:before { content: '\f0ca'; } /* '' */
.harmony-icon-magic:before { content: '\f0d0'; } /* '' */
.harmony-icon-pinterest-circled:before { content: '\f0d2'; } /* '' */
.harmony-icon-pinterest-squared:before { content: '\f0d3'; } /* '' */
.harmony-icon-money:before { content: '\f0d6'; } /* '' */
.harmony-icon-sort:before { content: '\f0dc'; } /* '' */
.harmony-icon-mail-alt:before { content: '\f0e0'; } /* '' */
.harmony-icon-linkedin:before { content: '\f0e1'; } /* '' */
.harmony-icon-comment-empty:before { content: '\f0e5'; } /* '' */
.harmony-icon-chat-empty:before { content: '\f0e6'; } /* '' */
.harmony-icon-sitemap:before { content: '\f0e8'; } /* '' */
.harmony-icon-paste:before { content: '\f0ea'; } /* '' */
.harmony-icon-exchange:before { content: '\f0ec'; } /* '' */
.harmony-icon-download-cloud:before { content: '\f0ed'; } /* '' */
.harmony-icon-upload-cloud:before { content: '\f0ee'; } /* '' */
.harmony-icon-suitcase:before { content: '\f0f2'; } /* '' */
.harmony-icon-bell-alt:before { content: '\f0f3'; } /* '' */
.harmony-icon-coffee:before { content: '\f0f4'; } /* '' */
.harmony-icon-doc-text:before { content: '\f0f6'; } /* '' */
.harmony-icon-plus-squared:before { content: '\f0fe'; } /* '' */
.harmony-icon-angle-double-left:before { content: '\f100'; } /* '' */
.harmony-icon-angle-double-right:before { content: '\f101'; } /* '' */
.harmony-icon-angle-double-up:before { content: '\f102'; } /* '' */
.harmony-icon-angle-double-down:before { content: '\f103'; } /* '' */
.harmony-icon-angle-right:before { content: '\f105'; } /* '' */
.harmony-icon-angle-up:before { content: '\f106'; } /* '' */
.harmony-icon-desktop:before { content: '\f108'; } /* '' */
.harmony-icon-laptop:before { content: '\f109'; } /* '' */
.harmony-icon-circle-empty:before { content: '\f10c'; } /* '' */
.harmony-icon-quote-left:before { content: '\f10d'; } /* '' */
.harmony-icon-quote-right:before { content: '\f10e'; } /* '' */
.harmony-icon-spinner:before { content: '\f110'; } /* '' */
.harmony-icon-reply:before { content: '\f112'; } /* '' */
.harmony-icon-github:before { content: '\f113'; } /* '' */
.harmony-icon-folder-empty:before { content: '\f114'; } /* '' */
.harmony-icon-folder-open-empty:before { content: '\f115'; } /* '' */
.harmony-icon-smile:before { content: '\f118'; } /* '' */
.harmony-icon-frown:before { content: '\f119'; } /* '' */
.harmony-icon-meh:before { content: '\f11a'; } /* '' */
.harmony-icon-terminal:before { content: '\f120'; } /* '' */
.harmony-icon-code:before { content: '\f121'; } /* '' */
.harmony-icon-reply-all:before { content: '\f122'; } /* '' */
.harmony-icon-star-half-alt:before { content: '\f123'; } /* '' */
.harmony-icon-direction:before { content: '\f124'; } /* '' */
.harmony-icon-crop:before { content: '\f125'; } /* '' */
.harmony-icon-unlink:before { content: '\f127'; } /* '' */
.harmony-icon-help:before { content: '\f128'; } /* '' */
.harmony-icon-eraser:before { content: '\f12d'; } /* '' */
.harmony-icon-mic:before { content: '\f130'; } /* '' */
.harmony-icon-mute:before { content: '\f131'; } /* '' */
.harmony-icon-shield:before { content: '\f132'; } /* '' */
.harmony-icon-calendar-empty:before { content: '\f133'; } /* '' */
.harmony-icon-angle-circled-left:before { content: '\f137'; } /* '' */
.harmony-icon-angle-circled-right:before { content: '\f138'; } /* '' */
.harmony-icon-angle-circled-up:before { content: '\f139'; } /* '' */
.harmony-icon-angle-circled-down:before { content: '\f13a'; } /* '' */
.harmony-icon-rss-squared:before { content: '\f143'; } /* '' */
.harmony-icon-minus-squared:before { content: '\f146'; } /* '' */
.harmony-icon-minus-squared-alt:before { content: '\f147'; } /* '' */
.harmony-icon-ok-squared:before { content: '\f14a'; } /* '' */
.harmony-icon-link-ext-alt:before { content: '\f14c'; } /* '' */
.harmony-icon-expand:before { content: '\f150'; } /* '' */
.harmony-icon-collapse:before { content: '\f151'; } /* '' */
.harmony-icon-euro:before { content: '\f153'; } /* '' */
.harmony-icon-pound:before { content: '\f154'; } /* '' */
.harmony-icon-dollar:before { content: '\f155'; } /* '' */
.harmony-icon-bitcoin:before { content: '\f15a'; } /* '' */
.harmony-icon-sort-name-up:before { content: '\f15d'; } /* '' */
.harmony-icon-sort-name-down:before { content: '\f15e'; } /* '' */
.harmony-icon-sort-alt-up:before { content: '\f160'; } /* '' */
.harmony-icon-sort-alt-down:before { content: '\f161'; } /* '' */
.harmony-icon-sort-number-up:before { content: '\f162'; } /* '' */
.harmony-icon-sort-number-down:before { content: '\f163'; } /* '' */
.harmony-icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.harmony-icon-thumbs-down-alt:before { content: '\f165'; } /* '' */
.harmony-icon-youtube:before { content: '\f167'; } /* '' */
.harmony-icon-youtube-play:before { content: '\f16a'; } /* '' */
.harmony-icon-dropbox:before { content: '\f16b'; } /* '' */
.harmony-icon-instagram:before { content: '\f16d'; } /* '' */
.harmony-icon-tumblr:before { content: '\f173'; } /* '' */
.harmony-icon-windows:before { content: '\f17a'; } /* '' */
.harmony-icon-android:before { content: '\f17b'; } /* '' */
.harmony-icon-dribbble:before { content: '\f17d'; } /* '' */
.harmony-icon-trello:before { content: '\f181'; } /* '' */
.harmony-icon-sun:before { content: '\f185'; } /* '' */
.harmony-icon-moon:before { content: '\f186'; } /* '' */
.harmony-icon-weibo:before { content: '\f18a'; } /* '' */
.harmony-icon-dot-circled:before { content: '\f192'; } /* '' */
.harmony-icon-vimeo-squared:before { content: '\f194'; } /* '' */
.harmony-icon-plus-squared-alt:before { content: '\f196'; } /* '' */
.harmony-icon-slack:before { content: '\f198'; } /* '' */
.harmony-icon-bank:before { content: '\f19c'; } /* '' */
.harmony-icon-graduation-cap:before { content: '\f19d'; } /* '' */
.harmony-icon-google:before { content: '\f1a0'; } /* '' */
.harmony-icon-digg:before { content: '\f1a6'; } /* '' */
.harmony-icon-language:before { content: '\f1ab'; } /* '' */
.harmony-icon-spotify:before { content: '\f1bc'; } /* '' */
.harmony-icon-database-1:before { content: '\f1c0'; } /* '' */
.harmony-icon-file-pdf:before { content: '\f1c1'; } /* '' */
.harmony-icon-file-word:before { content: '\f1c2'; } /* '' */
.harmony-icon-file-excel:before { content: '\f1c3'; } /* '' */
.harmony-icon-file-powerpoint:before { content: '\f1c4'; } /* '' */
.harmony-icon-file-image:before { content: '\f1c5'; } /* '' */
.harmony-icon-file-archive:before { content: '\f1c6'; } /* '' */
.harmony-icon-file-audio:before { content: '\f1c7'; } /* '' */
.harmony-icon-file-video:before { content: '\f1c8'; } /* '' */
.harmony-icon-file-code:before { content: '\f1c9'; } /* '' */
.harmony-icon-git-squared:before { content: '\f1d2'; } /* '' */
.harmony-icon-git:before { content: '\f1d3'; } /* '' */
.harmony-icon-wechat:before { content: '\f1d7'; } /* '' */
.harmony-icon-paper-plane:before { content: '\f1d8'; } /* '' */
.harmony-icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.harmony-icon-history:before { content: '\f1da'; } /* '' */
.harmony-icon-sliders:before { content: '\f1de'; } /* '' */
.harmony-icon-share:before { content: '\f1e0'; } /* '' */
.harmony-icon-wifi:before { content: '\f1eb'; } /* '' */
.harmony-icon-calc:before { content: '\f1ec'; } /* '' */
.harmony-icon-cc-visa:before { content: '\f1f0'; } /* '' */
.harmony-icon-bell-off-empty:before { content: '\f1f7'; } /* '' */
.harmony-icon-trash:before { content: '\f1f8'; } /* '' */
.harmony-icon-copyright:before { content: '\f1f9'; } /* '' */
.harmony-icon-at:before { content: '\f1fa'; } /* '' */
.harmony-icon-chart-area:before { content: '\f1fe'; } /* '' */
.harmony-icon-chart-pie:before { content: '\f200'; } /* '' */
.harmony-icon-chart-line:before { content: '\f201'; } /* '' */
.harmony-icon-toggle-off:before { content: '\f204'; } /* '' */
.harmony-icon-toggle-on:before { content: '\f205'; } /* '' */
.harmony-icon-bicycle:before { content: '\f206'; } /* '' */
.harmony-icon-forumbee:before { content: '\f211'; } /* '' */
.harmony-icon-cart-plus:before { content: '\f217'; } /* '' */
.harmony-icon-cart-arrow-down:before { content: '\f218'; } /* '' */
.harmony-icon-diamond:before { content: '\f219'; } /* '' */
.harmony-icon-street-view:before { content: '\f21d'; } /* '' */
.harmony-icon-heartbeat:before { content: '\f21e'; } /* '' */
.harmony-icon-facebook-official:before { content: '\f230'; } /* '' */
.harmony-icon-pinterest:before { content: '\f231'; } /* '' */
.harmony-icon-whatsapp:before { content: '\f232'; } /* '' */
.harmony-icon-server:before { content: '\f233'; } /* '' */
.harmony-icon-user-times:before { content: '\f235'; } /* '' */
.harmony-icon-subway:before { content: '\f239'; } /* '' */
.harmony-icon-battery-4:before { content: '\f240'; } /* '' */
.harmony-icon-battery-3:before { content: '\f241'; } /* '' */
.harmony-icon-battery-2:before { content: '\f242'; } /* '' */
.harmony-icon-battery-1:before { content: '\f243'; } /* '' */
.harmony-icon-battery-0:before { content: '\f244'; } /* '' */
.harmony-icon-object-group:before { content: '\f247'; } /* '' */
.harmony-icon-object-ungroup:before { content: '\f248'; } /* '' */
.harmony-icon-balance-scale:before { content: '\f24e'; } /* '' */
.harmony-icon-hourglass-o:before { content: '\f250'; } /* '' */
.harmony-icon-hourglass-1:before { content: '\f251'; } /* '' */
.harmony-icon-hourglass-2:before { content: '\f252'; } /* '' */
.harmony-icon-hourglass-3:before { content: '\f253'; } /* '' */
.harmony-icon-hourglass:before { content: '\f254'; } /* '' */
.harmony-icon-tripadvisor:before { content: '\f262'; } /* '' */
.harmony-icon-wikipedia-w:before { content: '\f266'; } /* '' */
.harmony-icon-safari:before { content: '\f267'; } /* '' */
.harmony-icon-chrome:before { content: '\f268'; } /* '' */
.harmony-icon-firefox:before { content: '\f269'; } /* '' */
.harmony-icon-opera:before { content: '\f26a'; } /* '' */
.harmony-icon-internet-explorer:before { content: '\f26b'; } /* '' */
.harmony-icon-television:before { content: '\f26c'; } /* '' */
.harmony-icon-amazon:before { content: '\f270'; } /* '' */
.harmony-icon-calendar-plus-o:before { content: '\f271'; } /* '' */
.harmony-icon-calendar-minus-o:before { content: '\f272'; } /* '' */
.harmony-icon-calendar-times-o:before { content: '\f273'; } /* '' */
.harmony-icon-calendar-check-o:before { content: '\f274'; } /* '' */
.harmony-icon-map-pin:before { content: '\f276'; } /* '' */
.harmony-icon-map-o:before { content: '\f278'; } /* '' */
.harmony-icon-map:before { content: '\f279'; } /* '' */
.harmony-icon-commenting:before { content: '\f27a'; } /* '' */
.harmony-icon-commenting-o:before { content: '\f27b'; } /* '' */
.harmony-icon-vimeo:before { content: '\f27d'; } /* '' */
.harmony-icon-fonticons:before { content: '\f280'; } /* '' */
.harmony-icon-edge:before { content: '\f282'; } /* '' */
.harmony-icon-stop-circle:before { content: '\f28d'; } /* '' */
.harmony-icon-stop-circle-o:before { content: '\f28e'; } /* '' */
.harmony-icon-shopping-bag:before { content: '\f290'; } /* '' */
.harmony-icon-shopping-basket:before { content: '\f291'; } /* '' */
.harmony-icon-hashtag:before { content: '\f292'; } /* '' */
.harmony-icon-bluetooth:before { content: '\f293'; } /* '' */
.harmony-icon-bluetooth-b:before { content: '\f294'; } /* '' */
.harmony-icon-volume-control-phone:before { content: '\f2a0'; } /* '' */
.harmony-icon-asl-interpreting:before { content: '\f2a4'; } /* '' */
.harmony-icon-low-vision:before { content: '\f2a8'; } /* '' */
.harmony-icon-snapchat-ghost:before { content: '\f2ac'; } /* '' */
.harmony-icon-envelope-open:before { content: '\f2b6'; } /* '' */
.harmony-icon-envelope-open-o:before { content: '\f2b7'; } /* '' */
.harmony-icon-address-book-o:before { content: '\f2ba'; } /* '' */
.harmony-icon-address-card-o:before { content: '\f2bc'; } /* '' */
.harmony-icon-user-circle:before { content: '\f2bd'; } /* '' */
.harmony-icon-user-circle-o:before { content: '\f2be'; } /* '' */
.harmony-icon-user-o:before { content: '\f2c0'; } /* '' */
.harmony-icon-id-card:before { content: '\f2c2'; } /* '' */
.harmony-icon-id-card-o:before { content: '\f2c3'; } /* '' */
.harmony-icon-telegram:before { content: '\f2c6'; } /* '' */
.harmony-icon-bath:before { content: '\f2cd'; } /* '' */
.harmony-icon-snowflake-o:before { content: '\f2dc'; } /* '' */
.harmony-icon-github-squared:before { content: '\f300'; } /* '' */
.harmony-icon-twitter-squared:before { content: '\f304'; } /* '' */
.harmony-icon-facebook-squared:before { content: '\f308'; } /* '' */
.harmony-icon-linkedin-squared:before { content: '\f30c'; } /* '' */
.harmony-icon-instagram-2:before { content: '\f31e'; } /* '' */
.harmony-icon-instagram-filled:before { content: '\f31f'; } /* '' */
.harmony-icon-win8:before { content: '\f325'; } /* '' */
.harmony-icon-instagram-1:before { content: '\f32d'; } /* '' */
.harmony-icon-comment-2:before { content: '\f4ac'; } /* '' */
